/*Author: Muhammad Faizan*/

.nodisplay{display: none;}
.ck-content{min-height: 200px;}
.noborder{border: 0 !important}
.questions .table-question table tr td{padding: 0px}
.questions .table-question table tr td input{width: 100%;height: 40px;box-shadow: none !important}
.not-allowed{cursor: not-allowed;background-color: #f1f1f1}